VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_ASSET_BUCKET=brand-assets
VITE_ALLOWED_EMAIL_DOMAINS=gmail.com,futurelab.com
VITE_APP_NAME=futurelab wiki
VITE_DEV_GUEST_EMAIL=
VITE_DEV_GUEST_PASSWORD=
